* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(./img/Background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #121214;
}
.nextLevel {
    background-image: url(./img/Background.nextLevel.jpg);

}
header {
    max-width: 580px;
    width: 90%;
    margin:auto;
    padding-top: 32px;
}
header div {
    border-radius: 50%;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    width: 120px;
    margin: auto;
    padding: 4px;
    display: flex;
    height: 120px;
}
.divNextLevel {
    background-image: linear-gradient(90deg, #CE4747 0%, #6E3DFB 50.52%, #77E25C 100%);
}
header div img {
    width: 100%;
    border-radius: 50%;
}
main {
    color: white;
    max-width: 580px;
    width: 90%;
    margin: auto;
    display: grid;
    gap: 24px;
    font-family:'Inter', sans-serif;
    margin: 32px auto;
}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}
div h2 {
    line-height: 160%;
    letter-spacing: -0.47px;
}
div p {
    line-height: 160%;
    letter-spacing: -0.18px;
    color: #A1A1AA;
}
.gameList img, .filmList img, .seriesList img {
    width: 90px;
    border-radius: 8px;
    border: 1px solid #443E54;
}
.channelList img  {
    width: 70px;
    border-radius: 50%;
    border: 1px solid #443E54;
}

section {
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 10px;
    padding-top: 4px;
}
.sectionNextLevel {
    background-image: linear-gradient(90deg, #CE4747 0%, #6E3DFB 50.52%, #77E25C 100%);
}
section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24;
    border-radius: 8px;
}
section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1);
}
.button {
    max-width: 100px;
    max-height: 50px;
    transition: transform .3s;
}
.button:hover {
    transform: scale(1.1);
}
.divButton {
    padding: 5px 10px;
    text-align: center;
    background-color: #2A2634;
}
.divButton p {
    border: 0;
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 12px;
}

/* animation */

header div {
    animation: fromTop .7s .2s backwards;
}
main section {
    animation: fromLeft .7s backwards;
}
main section:nth-child(1) {
    animation-delay: 0;
}
main section:nth-child(2) {
    animation-delay: .3s;
}
main section:nth-child(3) {
    animation-delay: .6s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fromLeft {
    from {
        opacity: 0;
        transform: translateX(-30px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}